* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cabin', Bold;
}
¨
.nav2{
    color:white;
    
    

}
.container{
    font: normal normal medium 50px/59px 'Cabin';
    letter-spacing: 0px;
    color: #141414;


}
.carrusel-item{
    width: 100%;
    height: 120px;
}

.h1{
    color: #000000;
    font-family: 'Cabin', Bold;
    font-size: 40pt;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 2rem;

}
.h2{
    color: #373a3c;
    font-family: 'Cabin', Bold;
    font-size: 30pt;
    text-align: left;
    padding-left: 0mm;
    padding-bottom: 0rem;

}
.h3{
    color: #373a3c;
    font-family: 'Cabin', Bold;
    font-size: 13pt;
    text-align: left;
    padding-bottom: 0rem;

}
.h4{
    color: #373a3c;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    padding-bottom: 0rem;

}
.h5{
    color: #1c7cd5;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    padding-bottom: 0rem;

}
.link a {

    color:white;
    text-decoration: none;
}
.iconos{
    font-size: 15px ;
}
.pie{
    background-color: #e83e8c;
    align-content: unset;
    width: 100%;
    padding-bottom: 2rem;
}